body {
  font-family: Helvetica;
  margin: 30px;
}

button {
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #b5b9e6;
  border: 2px solid #38354b;
  padding: 10px 30px;
  outline: none;
  cursor: pointer;
}

button:active {
  background-color: #e3e5ff;
}

.container {
  display: flex;
}

.panel {
  flex: 1;
}

img {
  max-width: 100%;
}

#panel1,
#panel2 {
  opacity: 0.1;
}
